body,h1,h2, {
	font-family: "Raleway", sans-serif;
}

body {

	background: #f2f2f2;
}

header {
	background-image: url("https://i.ebayimg.com/images/g/mBwAAOSwyWZZTuOK/s-l300.jpg");
	border: 2px solid black;
	margin: auto;
	text-align: center;
}

#header_text {
	display: inline-block;
}

p {
	line-height: 2
}

.nav {
	font-size: 25px;
	text-align: center;
	padding: 10px;
	border: 2px solid grey;
	margin: 300px auto;
	color: black;
	background: white;
}
.nav:hover {
	color: grey;
}

#wrapper {
	margin-top: 20px;
	padding: 5px;
	border: 3px solid black;
	height: 50%;
	width: 80%;
	margin: auto;
	width: 900px;
	background: white;
}

.rsvp,.info,.about,.navbar,.ending {
	align-content: center;
	text-align: center;
	margin: auto;
}

.top_image {
	width: 50%;
	transform: rotate(90deg);
	margin-bottom: 50px;
	margin-top: 50px;
	border: 3px solid black;
}

#gratitude {
	width: 99%;
}

.clearfix {
    overflow: auto;
}



.navbar {
	margin: 25px auto;

}

.countdown {
	background: white;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	margin: auto;
	padding-bottom: 1px;
	text-align: center;
}


#credit {
	margin-bottom: 0px;
	text-align: right;
	text-decoration: underline;
}

#top {
	background: rgba(232, 232, 232);
	display: none;
	position: fixed;
	bottom: 20px;
	z-index: 10;
	cursor: pointer;
	padding: 15px;
	font-size: 18px;
	margin: auto;
}

#top:hover {
	background: #555;
}